<div class="logo">
  <h1>Time Tracker</h1>
</div>

<ul class="custom-nav nav nav-tabs">
  <li class="nav-item active">
    <a href="/" class="nav-link <%= active?(root_path) %>">Home</a>
  </li>
  <li class="nav-item">
    <a href="/posts" class="nav-link <%= active?(posts_path) %>">Time Entries</a>
  </li>
  <li class="nav-item">
    <a href="/posts/new" class="nav-link <%= active?(new_post_path) %>", id="new_post_from_nav">New Entry</a>
  </li>
  <li class="nav-item dropdown ml-md-auto">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Account</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "TODO:Admin Dashboard", root_path, class: "dropdown-item" %>
      <div class="dropdown-divider">
      </div>
      <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
    </div>
  </li>
</ul>