<%= form_for @post, class: "form-group row" do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Overtime Notification", sticky: false) %>
    <% end%>
  <% end %>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: "form-control form-control-lg" %>
  </div>
  <div class="form-group">  
    <%= f.label :post %>
    <%= f.text_area :rationale, class: "form-control form-control-lg" %>
  </div>
  <%= f.submit 'Save', class: "btn btn-primary btn-block" %>
<% end %>
