<h2 class="text-primary">
  Posts
</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>
      <th>
        Rationale
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>